@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: hsl(186, 14%, 43%);
    font-size: 24px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    min-height: 20%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    word-wrap: break-word;
    width: 100%;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
    color: hsl(183, 100%, 15%);
}

.content{
    width: 100%;
    background: hsl(0, 0%, 100%);
    padding: 8%;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

img{
    width: 15px;
    height: 15px;
}

.bill, .selector, .tips, .splitter{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.splitter__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.message{
    font-size: .8rem;
    color: orangered;
}

h3{
    font-size: 1rem ;
}

.bill__input, .splitter__input{
    background: hsl(189, 41%, 97%);
    width: 100%;
    height: 2.5rem;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: .1rem solid transparent;
}

input{
    width: 100%;
    border: none;
    background: transparent;
    text-align: right;
    font-family: 'Space Mono';
    color: hsl(183, 100%, 15%);
    font-size: inherit;
}


input:focus-visible{
    outline: none;
}

.bill__input:focus-within, .splitter__input:focus-within {
    border: hsl(172, 67%, 45%) solid .1rem;
}

#customAmountInput{
    border: .1rem solid transparent;
}

.error{
    border: .1rem solid orangered;
}

#customAmountInput:focus{
    border: hsl(172, 67%, 45%) solid .1rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.amounts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.amounts__el, .amounts__custom{
    background: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    width: 45%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.amounts__custom{
    background: hsl(189, 41%, 97%);
    color: inherit;
    padding: 0 1rem 0 0;
}
.amounts__custom:hover{
    cursor: pointer;
}

.amounts__el:hover{
    background:hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.isClicked{
    background:hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
}

.tips{
    background: hsl(183, 100%, 15%);
    border-radius: 1rem;
    padding: 8%;
    height: 35%;
    gap: 25px;
}

.tips__split, .tips__total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tips__text{
    max-width: 60%;
}

.tips__text p{
    font-size: .8rem;
}

.text__title{
    color: hsl(189, 41%, 97%);
    font-size: 1rem;
}

.tips__amount, .total__amount{
    color: hsl(172, 67%, 45%);
    font-size: 24px;
}

.reset{
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: .3rem;
    font-family: inherit;
    text-transform: uppercase;
    font-size: inherit;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.reset:hover{
    cursor: pointer;
    background: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

.reset:disabled{
    background: hsl(186, 14%, 43%);
    cursor: not-allowed;
}

.disabled{
    display: none;
}

.enabled{
    display: flex;
}

.attribution{
    margin: .5rem 0 0;
    font-size: .6rem;
    text-align: center;
}

a{
    color: hsl(183, 100%, 15%);
    text-decoration: none;
}

@media screen and (min-width:1440px){
    .content{
        width: 60%;
        height: 70%;
        border-radius: 1rem;
        padding: 2.5%;
    }

    .content__full{
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        height: 100%;
    }

    .content__left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tips{
        width: 50%;
        height: 100%;
        padding: 3%;
        justify-content: space-between;
    }

    .tips__numbers{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .amounts{
        justify-content: none;
    }

    .amounts__el, .amounts__custom{
        width: 30%;
    }

    .tips__amount, .total__amount{
        font-size: 2rem;
    }
    
    .title{
        text-align: center;
        font-size: 2rem;
        width: 35%;
    }
}